<!DOCTYPE html>
<html>
<head>
	<title>Plansmash's Pouzzafest 2016 App</title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
<!-- Latest compiled and minified CSS & JS -->
<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/style.css" />
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Plansmash's Pouzzafest 2016</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Buds picks <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#">Shawn</a></li>
						<li><a href="#">Eric</a></li>
						<li><a href="#">Shane</a></li>
						<li><a href="#">Nick</a></li>
						<li><a href="#">Marty</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div>
</nav>



<div class="container-fluid" data-ng-app="bandList">
	<div class="alert alert-info">
		<p>This is a web app I created to list all the band information I put together about the Pouzzafest 6 lineup. This app is not an official Pouzzafest product and the information is subject to change. All the information on this page was found on either the bands links off of <a href="http://pouzzafest.com">Pouzzafest.com</a>, iTunes or other online sites.</p>
	</div>

	<div class="container">
		<div class="input-group">
			<label class="sr-only" for="filterBands">Search</label>
			<input type="text" ng-model="bandList.search" class="form-control" id="filterBands" placeholder="Search">
			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		</div>

		<div class="btn-group btn-group-justified mrgn-tp-md mrgn-bttm-md" role="group">
			<a class="btn btn-default"><span class="visible-xs visible-sm">2016-05-20</span><span class="hidden-xs hidden-sm">Friday, May 20<sup>th</sup>, 2016</span></a>
			<a class="btn btn-default"><span class="visible-xs visible-sm">2016-05-21</span><span class="hidden-xs hidden-sm">Saturday, May 21<sup>st</sup>, 2016</span></a>
			<a class="btn btn-default"><span class="visible-xs visible-sm">2016-05-22</span><span class="hidden-xs hidden-sm">Sunday, May 22<sup>nd</sup>, 2016</span></a>
		</div>
		<div class="clearfix"></div>
	</div><!-- container -->

	<div class="row" data-ng-controller="bandListCtrl">
		<div data-ng-repeat="band in bands | filter:bandList.search">
			<a data-toggle="modal" data-target="#modal{{band.id}}" href="#modal{{band.id}}">
				<section class="col-lg-3 col-md-3 col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">{{band.name}}<br /><small class="label label-warning">{{band.hometown}}</small></h2>
						</div>
						<div class="panel-body bandPanel">
							<p style="background-image: url('./img/{{band.image}}')"></p>
						</div>
					</div>
				</section>
			</a>

			<div id="modal{{band.id}}" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog">

					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="modal-title"><a href="{{band.link}}" target="_blank">{{band.name}}</a></h3>
						</div><!-- modal-header -->

						<div class="modal-body">
							<p>{{band.description}}</p>
							<dl vocab="http://schema.org/" typeof="Event" class="dl-horizontal" data-ng-repeat="event in band.events">
								<dt>Where:</dt>
								<dd property="location" typeof="Place"><span property="name">{{event.venue}}</span></dd>
								<dt>When:</dt>
								<dd property="startDate" content="{{event.date|date:'yyyy-MM-dd'}}">{{event.date | date:'fullDate'}}</dd>
								<dt>Time:</dt>
								<dd property="startDate" content="T{{event.start|date: 'HH:mm'}}">{{event.start}} - {{event.end}}</dd>
							</dl>
							<h4>Similar artists</h4>
							<ul class="list-inline">
								<li data-ng-repeat="similar in band.similarArtist">{{similar.name}}</li>
							</ul>
						</div><!-- modal-body -->
					</div><!-- modal-content -->

				</div><!-- modal-dialog -->
			</div><!-- modal{{band.id}} -->
		</div><!-- data-ng-repeat -->
	</div><!-- data-ng-controller -->
</div><!-- container-fluid -->
<script src="./js/scripts.min.js"></script>
</body>
</html>