// Panels styles
.panel {

    .panel-body {

        p {
            height: 200px;
            background-clip: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
        }
    }

    .panel-heading {
        color: #ccc;
        background-color: #000;
        position: relative;
        height: 75px;

        .label {
            color: #fff;
            background-color: red;
            position: absolute;
            bottom: 3px;
            right: 3px;
        }
    }
}
