// Panels styles
.panel {

  .panel-body {

    p {
        height: 200px;
        background-position: center center;
        background-repeat: no-repeat;
    }
  }

  .panel-heading {
      color: #ccc;
      background-color: #000;
      position: relative;
      height: 75px;

    .label {
        color: #fff;
        background-color: red;
        position: absolute;
        bottom: 3px;
        right: 3px;
    }
  }
}
